<h1>Editing Inventory</h1>

<h3> Current Item and Location </h3>

<%= render 'form', inventory_level: @inventory_level %>

<%= link_to 'Show', @inventory_level %> |
<%= link_to 'Back', inventory_levels_path %>
